ControlPenales/Service References/MenoresHuellasService/dperson1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Valida_equipo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cereso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opmac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Valida_equipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Valida_equipoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cat_bio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cereso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cat_bioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cat_bioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestEnrroll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cereso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="biometrico" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="capResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestEnrrollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestEnrrollResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requesSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cereso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="capResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requesSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requesSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestEnrrollSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cereso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestEnrrollSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestEnrrollSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraXML">
        <s:complexType />
      </s:element>
      <s:element name="GeneraXMLResponse">
        <s:complexType />
      </s:element>
      <s:element name="GeneraXMLInd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefijo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraXMLIndResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetHuella">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_pprefijo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pnum_visita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pano" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pfolio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pbiometrico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_phuella" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_numabogado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_registro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="centro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetHuellaResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCadena">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_prefijo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_numVisita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ano" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_folio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_log" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_numabogado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_registro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="centro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCadenaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCadenaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Compara">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_huella" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_prefijo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="centro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComparaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComparaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Valida_equipoSoapIn">
    <wsdl:part name="parameters" element="tns:Valida_equipo" />
  </wsdl:message>
  <wsdl:message name="Valida_equipoSoapOut">
    <wsdl:part name="parameters" element="tns:Valida_equipoResponse" />
  </wsdl:message>
  <wsdl:message name="cat_bioSoapIn">
    <wsdl:part name="parameters" element="tns:cat_bio" />
  </wsdl:message>
  <wsdl:message name="cat_bioSoapOut">
    <wsdl:part name="parameters" element="tns:cat_bioResponse" />
  </wsdl:message>
  <wsdl:message name="requestEnrrollSoapIn">
    <wsdl:part name="parameters" element="tns:requestEnrroll" />
  </wsdl:message>
  <wsdl:message name="requestEnrrollSoapOut">
    <wsdl:part name="parameters" element="tns:requestEnrrollResponse" />
  </wsdl:message>
  <wsdl:message name="requesSearchSoapIn">
    <wsdl:part name="parameters" element="tns:requesSearch" />
  </wsdl:message>
  <wsdl:message name="requesSearchSoapOut">
    <wsdl:part name="parameters" element="tns:requesSearchResponse" />
  </wsdl:message>
  <wsdl:message name="requestEnrrollSearchSoapIn">
    <wsdl:part name="parameters" element="tns:requestEnrrollSearch" />
  </wsdl:message>
  <wsdl:message name="requestEnrrollSearchSoapOut">
    <wsdl:part name="parameters" element="tns:requestEnrrollSearchResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraXML" />
  </wsdl:message>
  <wsdl:message name="GeneraXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraXMLIndSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraXMLInd" />
  </wsdl:message>
  <wsdl:message name="GeneraXMLIndSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraXMLIndResponse" />
  </wsdl:message>
  <wsdl:message name="SetHuellaSoapIn">
    <wsdl:part name="parameters" element="tns:SetHuella" />
  </wsdl:message>
  <wsdl:message name="SetHuellaSoapOut">
    <wsdl:part name="parameters" element="tns:SetHuellaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCadenaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCadena" />
  </wsdl:message>
  <wsdl:message name="GetCadenaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCadenaResponse" />
  </wsdl:message>
  <wsdl:message name="ComparaSoapIn">
    <wsdl:part name="parameters" element="tns:Compara" />
  </wsdl:message>
  <wsdl:message name="ComparaSoapOut">
    <wsdl:part name="parameters" element="tns:ComparaResponse" />
  </wsdl:message>
  <wsdl:portType name="dpersonSoap">
    <wsdl:operation name="Valida_equipo">
      <wsdl:input message="tns:Valida_equipoSoapIn" />
      <wsdl:output message="tns:Valida_equipoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cat_bio">
      <wsdl:input message="tns:cat_bioSoapIn" />
      <wsdl:output message="tns:cat_bioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="requestEnrroll">
      <wsdl:input message="tns:requestEnrrollSoapIn" />
      <wsdl:output message="tns:requestEnrrollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="requesSearch">
      <wsdl:input message="tns:requesSearchSoapIn" />
      <wsdl:output message="tns:requesSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="requestEnrrollSearch">
      <wsdl:input message="tns:requestEnrrollSearchSoapIn" />
      <wsdl:output message="tns:requestEnrrollSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraXML">
      <wsdl:input message="tns:GeneraXMLSoapIn" />
      <wsdl:output message="tns:GeneraXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraXMLInd">
      <wsdl:input message="tns:GeneraXMLIndSoapIn" />
      <wsdl:output message="tns:GeneraXMLIndSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetHuella">
      <wsdl:input message="tns:SetHuellaSoapIn" />
      <wsdl:output message="tns:SetHuellaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCadena">
      <wsdl:input message="tns:GetCadenaSoapIn" />
      <wsdl:output message="tns:GetCadenaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Compara">
      <wsdl:input message="tns:ComparaSoapIn" />
      <wsdl:output message="tns:ComparaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dpersonSoap" type="tns:dpersonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Valida_equipo">
      <soap:operation soapAction="http://tempuri.org/Valida_equipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cat_bio">
      <soap:operation soapAction="http://tempuri.org/cat_bio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestEnrroll">
      <soap:operation soapAction="http://tempuri.org/requestEnrroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requesSearch">
      <soap:operation soapAction="http://tempuri.org/requesSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestEnrrollSearch">
      <soap:operation soapAction="http://tempuri.org/requestEnrrollSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraXML">
      <soap:operation soapAction="http://tempuri.org/GeneraXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraXMLInd">
      <soap:operation soapAction="http://tempuri.org/GeneraXMLInd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHuella">
      <soap:operation soapAction="http://tempuri.org/SetHuella" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCadena">
      <soap:operation soapAction="http://tempuri.org/GetCadena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Compara">
      <soap:operation soapAction="http://tempuri.org/Compara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dpersonSoap12" type="tns:dpersonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Valida_equipo">
      <soap12:operation soapAction="http://tempuri.org/Valida_equipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cat_bio">
      <soap12:operation soapAction="http://tempuri.org/cat_bio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestEnrroll">
      <soap12:operation soapAction="http://tempuri.org/requestEnrroll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requesSearch">
      <soap12:operation soapAction="http://tempuri.org/requesSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestEnrrollSearch">
      <soap12:operation soapAction="http://tempuri.org/requestEnrrollSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraXML">
      <soap12:operation soapAction="http://tempuri.org/GeneraXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraXMLInd">
      <soap12:operation soapAction="http://tempuri.org/GeneraXMLInd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHuella">
      <soap12:operation soapAction="http://tempuri.org/SetHuella" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCadena">
      <soap12:operation soapAction="http://tempuri.org/GetCadena" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Compara">
      <soap12:operation soapAction="http://tempuri.org/Compara" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dperson">
    <wsdl:port name="dpersonSoap" binding="tns:dpersonSoap">
      <soap:address location="http://10.3.205.126/dperson/dperson.asmx" />
    </wsdl:port>
    <wsdl:port name="dpersonSoap12" binding="tns:dpersonSoap12">
      <soap12:address location="http://10.3.205.126/dperson/dperson.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>